.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 380px;
  padding: 20px;
  border-radius: 8px;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(25,38,57,1) 0%);
}
.card_header {
  max-width: 200px;
  max-height: 200px;
  height: 100%;
  width: 100%;
}

.card_header img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  max-width: 792px;
}

.card_body h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 8px 0;
}

.card_body p {
  margin-bottom: 8px;
  font-style: 16px;
  line-height: 20px;
  font-weight: 700;
}
